DISCORD_BOT_TOKEN=
SITE_URL=https://nebulafr.site/
POLL_INTERVAL_SECONDS=300
STATUS_IMAGE_URL=
CHANNEL_NOUVEAUX_FILMS_ID=
CHANNEL_NOUVELLES_SERIES_ID=
CHANNEL_TENDANCES_ID=
CHANNEL_SUGGESTIONS_ID=
CHANNEL_FILMS_POPULAIRES_ID=
CHANNEL_SERIES_POPULAIRES_ID=
CHANNEL_TOP_HEBDOMADAIRE_ID=
CHANNEL_STATUT_ID=
WEEKLY_TOP_DAY=mon
WEEKLY_TOP_HOUR=10
TIMEZONE=Europe/Paris
